*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("demo2.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 730px;



}

h1{
    margin-top: 200px;
    text-align: center;
    color: blueviolet;
}

.form-group{

    margin-top: 30px;
    margin-right: 400px;
    margin-left: 500px;
    font-size: 20px;
    
}

 button{
    margin-left: 500px;
    margin-top: 40px;
}
.form-group label{
    margin-top: 10px;
}

