<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The store book</title>
    {% load static %} 

    
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav>
    <h1>TheStoryShop&#128509;</h1>

    <ul class="main1"></marquee>
        <li>🅷🅾🅼🅴</li>
        <li> 𝐛𝐨𝐨𝐤</li>
        <li>A𝐰𝐚𝐫𝐝 𝐛𝐨𝐨𝐤</li>
        <li>𝐓𝐨𝐝𝐚𝐲 𝐃𝐞𝐚𝐥</li>
    </ul>
      
      <button type="button">𝐬𝐢𝐠𝐧𝐨𝐮𝐭</button>

</nav>

<h2><marquee>𝐃𝐢𝐬𝐜𝐨𝐯𝐞𝐫 𝐭𝐡𝐞 𝐌𝐚𝐠𝐢𝐜 𝐚𝐭 𝐓𝐡𝐞𝐒𝐭𝐨𝐫𝐲𝐒𝐡𝐨𝐩: 𝐘𝐨𝐮𝐫 𝐆𝐚𝐭𝐞𝐰𝐚𝐲 𝐭𝐨 𝐄𝐧𝐜𝐡𝐚𝐧𝐭𝐢𝐧𝐠 𝐓𝐚𝐥𝐞𝐬 𝐚𝐧𝐝 𝐔𝐧𝐢𝐪𝐮𝐞 𝐅𝐢𝐧𝐝𝐬</marquee></h2>

<p>well come To {{fname}}</p>

<div class="main2">
    <p>𝐄𝐱𝐩𝐥𝐨𝐫𝐞 𝐄𝐧𝐝𝐥𝐞𝐬𝐬 𝐖𝐨𝐫𝐥𝐝𝐬 𝐚𝐭 𝐓𝐡𝐞𝐒𝐭𝐨𝐫𝐲𝐒𝐡𝐨𝐩: 𝐀 𝐇𝐚𝐯𝐞𝐧 𝐟𝐨𝐫 𝐁𝐨𝐨𝐤 𝐋𝐨𝐯𝐞𝐫𝐬 &#128214;</p>
</div>

    <div class="image">
         <a href="https://www.w3schools.com/css/css_image_gallery.asp">
            <img src="{% static 'images.jpg' %}">
           
        </a>
    </div>
         
    <div class="ima2">
        <a href="https://www.w3schools.com/css/css_image_gallery.asp">
            <img src="{% static 'shopping (1).webp' %}">
          
       </a>
   </div>
        
   <div class="ima3">
       <a href="https://www.w3schools.com/css/css_image_gallery.asp">
        
        <img src="{% static 'harry.jpg' %}">
       </a>
    </div>
     <div class="ima4">
      <a href="https://www.w3schools.com/css/css_image_gallery.asp">
        <img src="{% static '2.webp' %}">
         
      
       </a>
    </div>


    <footer>
        <footer>
        <div class="footer">
            <div class="row">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
            
        <div class="row">
            <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Career</a></li>
            </ul>
            </div>
            
        <div class="bhai">
            TheStoryShop Copyright © 2024 Inferno - All rights reserved || Designed By: Kavi_Ksm
            </div>
            </div>
            </footer>
            

    </footer>
    
</body>
</html>